<odoo>
    <record id="hr_timesheet.menu_hr_time_tracking" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('hr_advanced.group_show_timesheets_employees_for_manager'))]"/>
    </record>
    <record id="hr_timesheet.timesheet_menu_activity_user" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('hr_advanced.group_show_timesheets_employees_for_manager'))]"/>
    </record>
    <record id="hr_timesheet.timesheet_menu_activity_all" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('hr_advanced.group_show_timesheets_employees_for_manager'))]"/>
    </record>
</odoo>